/* Inserta tu código aqui */

@media screen and (max-width: 600px){
	
	

}
@media screen and (min-width : 768px){
	.modifizq{
		margin-left: 52%;
	}
	#myNavbar{
		font-size: 85%;
	}
@media screen and (min-width : 1200px){
	#myNavbar{
		font-size: 120%;
	}
}


p{
	font-size: 90%;	
}

.lgris{
	color:#3AC2E9;
}
.paddingimg2{
	padding: 2% 0%;
	margin:1%;
	width: 470px;
}

.espacio{
	padding:2px 20px 1px 20px;
}
.marg{
	margin: 10px;
}
.sub{
	text-decoration: underline;
	color:#44F1A2;
}
a{
	color:#848484;
}

#lineacol{
	border: 0; 
	border-top: 1px solid #3AC2E9;
	border-bottom: 1px solid #3AC2E9; 
	height:20%;
	width: 100%;
}
.glyphicon{
	color:#3AC2E9;
}

.colorsalmon{
	color: #EEABA7;
}
.fondonegro{
	background-color: black;
	opacity: 0.7;
}
.moverizq{
	left: 240%;
}
.tamañoslider{
	width:100%;
	height: 100%;
}
hr{
	border: 0; 
	border-top: 1px solid gray;
	border-bottom: 1px solid gray; 
	width: 100%;
	margin: 1%;

}
.paddingic{
	padding: 5%;
}
.paddingics{
	padding: 1% 9%;
}
.border{
	border: 1px solid gray;
}
.tamañoimgg{
	width: 100%;
}
.tamañoimgg1{
	width: 200px;
}
.banner{
	background-image: url("../images/client-bg.jpg");
	background-repeat: no-repeat;
	height: 340px;
}
.tamañoimggc{
	position: relative;
}
